<div class="card border-primary mb-3">
  <div class="card-header">Bloque N° {{ bloque.id }}</div>
  <div class="card-body">
    <div class="row">
      <div class="col-auto">
        <label class="lbl-ind">Bs del bloque:</label>
        <span class="valor">{{ bloque.montobs }}</span>
      </div>
      <div class="col-auto">
        <label class="lbl-ind">Bs restantes:</label>
        <span class="valor">xxx</span>
      </div>
    </div>
    <hr />
    <h5>Transferencias</h5>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">CHP</th>
            <th scope="col">Imagen</th>
            <th scope="col">Bs</th>
            <th scope="col">Tasa</th>
            <th scope="col">% Ganancia</th>
            <th scope="col">Destinatario</th>
            <th scope="col">CI</th>
            <th scope="col">Banco</th>
            <th scope="col">Numero cuenta</th>
            <th scope="col">Correo</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td><i class="fa fa-camera"></i></td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>Finalizado</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td><i class="fa fa-camera"></i></td>
            <td>@fat</td>
            <td>@fat</td>
            <td>@fat</td>
            <td>@fat</td>
            <td>@fat</td>
            <td>@fat</td>
            <td>@fat</td>
            <td>@fat</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td><i class="fa fa-camera"></i></td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td><input type="text" class="form-control" /></td>
            <td>the Bird</td>
            <td><i class="fa fa-camera"></i></td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="forma" [hidden]="_forma">
      <button class="btn btn-default btn-sm float-right" (click)="ocultarForma()"><i class="fa fa-minus"></i></button>
      <div class="row">
        <div class="col-auto">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre" />
          </div>
        </div>
        <div class="col-auto">
          <div class="form-group">
            <label>CHPesos</label>
            <input type="number" class="form-control" placeholder="CHPesos" />
          </div>
        </div>
        <div class="col-auto">
          <div class="form-group">
            <label>Bs</label>
            <input
              type="number"
              class="form-control"
              readonly
              placeholder="Bs"
            />
          </div>
        </div>
        <div class="col-auto">
          <div class="form-group">
            <label>Destinatario</label>
            <input
              type="text"
              class="form-control"
              placeholder="Destinatario"
            />
          </div>
        </div>
        <div class="col-auto">
          <div class="form-group">
            <label>CI</label>
            <input type="text" class="form-control" placeholder="CI" />
          </div>
        </div>
        <div class="col-auto">
          <div class="form-group">
            <label>Banco</label>
            <select class="custom-select" required>
              <option value="">Seleccione ...</option>
              <option
                *ngFor="let banco of _transferencias.bancos"
                [ngClass]="
                  banco.tiempo == '24 hrs' ? 'text-primary' : 'text-danger'
                "
                [value]="banco.nombre"
                >{{ banco.nombre }}</option
              >
            </select>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-group">
            <label>N° Cuenta</label>
            <input type="text" class="form-control" placeholder="N° cuenta" />
          </div>
        </div>
        <div class="col-auto">
            <div class="form-group">
              <label>Correo</label>
              <input type="text" class="form-control" placeholder="Correo" />
            </div>
          </div>
      </div>
    </div>

    <div class="row float-left">
      <div class="col-auto">
        <label class="lbl-ind">Total vendido:</label>
        <span class="valor">$ xxx</span>
      </div>
      <div class="col-auto">
        <label class="lbl-ind">Ganancias totales:</label>
        <span class="valor">$ xxx</span>
      </div>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-danger btn-circle btn-lg " (click)="mostrarForma()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
</div>
