<div *ngIf="!_usuario.usuario.id_usuario" class="login">

  <form ngNativeValidate class="form-signin " (submit)="loginClick()">

    <h3>Iniciar sesión</h3>
    <p>Ingresa tu correo y contraseña para ingresar a 123dopositos.</p>

    <input [(ngModel)]="correo" name="correo" type="email" id="inputEmail" class="form-control" placeholder="Correo electrónico"
      required autofocus>
    <input [(ngModel)]="clave" name="clave" type="password" id="inputPassword" class="form-control" placeholder="Contraseña"
      required>

    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="( cargando || !correo || !clave ) ? 'disabled' : '' ">
      {{ ( cargando ) ? 'Cargando ...' : 'Ingrese' }}
    </button>

    <p class="mt-5 mb-3 text-muted">
      ¿Aún no estás registrado? <a class="link-pie" routerLink="/registro">Crea tu cuenta</a>
    </p>
    <p class="mt-5 mb-3 text-muted">
      No recuerdas tu Contraseña? <a [routerLink]="'/recuperar'" >Haz click aquí.</a>
    </p>
  </form>



</div>

<div *ngIf="_usuario.usuario.id_usuario" class="login">

  <p class="texto-login"> Para realizar tus depósitos <a routerLink="/abono" > haz click aquí. </a> </p>
</div>