<div class="container principal">

  <h2>Nuestra compañía</h2>
  <p>
    Somos una compañía que busca satisfacer la necesidad de cambio de divisas, simplificando el envío de dineros a Venezuela.
    Contamos con amplia experiencia en el mercado, la que brinda credibilidad y confianza a nuestros clientes.
  </p>

  <h2>
    Nuestra misión
  </h2>
  <p>
    Nuestra misión es solucionar, ágilmente, las necesidades de intercambio de moneda de nuestros clientes, brindando un servicio
    de calidad, caracterizado por la rapidez, la seguridad y la seriedad.
  </p>
  <p>
    El objetivo de 123depositos.com se basa en prestar a los clientes una atención de calidad, digna, rápida y segura, proporcionando
    bienestar Integral.
  </p>
</div>