
.principal {
    min-height: 600px;
    font-size: 1.2em;
    padding-left: 0px;
    padding-right: 0px;

}

.compania {
    background-color: #00aeeb;
    color: white ;
    padding: 1rem;
}
.compania h2 {
    color: white;
}

.mision {
    padding: 1rem;
}

.mision h2 {
    color: black;
}

