
<div class="container color-inicio p-1">

  <div class="row">

    <div class="col-md-6 ">
      <div class="texto-izquierdo p-3">
        <span class="texto-azul">Buscamos satisfacer la necesidad de cambio de divisas</span> 
        <span class="texto-negro"> simplificando el envío de dinero a Venezuela.</span>
      </div>

      <div class="login-inicio p-5">
        <app-login-inicio></app-login-inicio>
        
      </div>
      <div>
        <a routerLink="/login-vendedor">Acceso Ejecutivos</a>
      </div>

    </div>
    <div class="col-md-6 fondo-azul imagen-fondo h600">
      <div class="texto-derecho p-3">
        <span class="texto-blanco">La mejor tasa del mercado, </span> <span class="texto-blanco-negrita"> envío seguro y confiable.</span>
        
        <app-simula-cambio></app-simula-cambio>
        
      </div>
    </div>

  </div>

</div>