<form ngNativeValidate [formGroup]="forma" (submit)="enviar()">
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <label>Nombre o Razón social</label>
          <input
            formControlName="nombre"
            name="nombre"
            type="text"
            class="form-control"
            placeholder="Ingrese nombre"
            required
          />
          <small class="form-text text-muted"></small>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label>CI o RIF</label>
          <input
            formControlName="ci"
            name="ci"
            type="text"
            class="form-control"
            placeholder=""
            required
          />
          <small class="form-text text-muted"></small>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label>E-mail</label>
          <input
            formControlName="correo"
            name="correo"
            type="email"
            class="form-control"
            placeholder=""
          />
          <small class="form-text text-muted"></small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label>Banco</label>
          <select
            formControlName="banco"
            name="banco"
            class="custom-select"
            required
          >
            <option value="">Seleccione ...</option>
            <option *ngFor="let b of transferencias.bancos" [value]="b.nombre">{{ b.nombre }}</option>
          </select>
        </div>
      </div>

      <div class="col-sm">
        <div class="form-group">
          <label>Tipo de cuenta</label>
          <select class="custom-select" required>
            <option value="">Seleccione ...</option>
            <option value="Corriente">Corriente</option>
          </select>
        </div>
      </div>

      <div class="col-sm">
        <div class="form-group">
          <label>Número de cuenta</label>
          <input type="text" class="form-control" placeholder="" required />
          <small class="form-text text-muted"></small>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="ocultar()">
      Cancelar
    </button>
    <button type="submit" class="btn btn-success">Aceptar</button>
  </div>
</form>
