<div class="container principal">

  <div class="paso1">
    <div class="row">
      <div class="col-sm ">
        <div class="paso">
          <h3 class="align-middle" >Paso 1</h3>
        </div>
      </div>
      <div class="col-sm ">
        <div class="imagen">
          <img src="assets/img/como/paso1-1.png" alt="Paso1">
        </div>
        <div class="texto">
          A. Regístrate e inicia sesión.
        </div>
      </div>
      <div class="col-sm">
        <div class="imagen">
          <img src="assets/img/como/paso1-2.png" alt="Paso1">
        </div>
        <div class="texto">
          B. Ingresa a la pestaña transferencias.
        </div>
      </div>
      <div class="col-sm">
        <div class="imagen">
          <img src="assets/img/como/paso1-3.png" alt="Paso1">
        </div>
        <div class="texto">
          C. Simula tu monto a transferir.
        </div>
      </div>
      <div class="col-sm">
        <div class="imagen">
          <img src="assets/img/como/paso1-4.png" alt="Paso1">
        </div>
        <div class="texto">
          D. Verifica el monto que va a llegar a destino.
        </div>
      </div>
    </div>
  </div>

  <div class="paso2">
    <div class="row">
      <div class="col-sm">
        <div class="paso">
          <h3>Paso 2</h3>
        </div>
      </div>
      <div class="col-sm">
        <div class="imagen">
          <img src="assets/img/como/paso2-1.png" alt="Paso2">
        </div>
        <div class="texto">
          A. Realiza tu abono a la cuenta empresa por transferencia o en <a href="https://www.bci.cl/personas/sucursales" target="_blank">sucursales BCI.</a>
        </div>
      </div>
      <div class="col-sm">
        <div class="imagen">
          <img src="assets/img/como/paso2-2.png" alt="Paso2">
        </div>
        <div class="texto">
          B. Datos Bancarios de la empresa: TECNOSEG <br> Nombre de la empresa: TECNOSEG <br> RUT: 76.145.716-0 <br> Banco:
          BCI <br> Tipo de cuenta: Corriente <br> N° de cuenta: 54005078 <br> Correo: abonos@123depositos.com
        </div>
      </div>
      <div class="col-sm">
        <div class="imagen">
          <img src="assets/img/como/paso2-3.png" alt="Paso2">
        </div>
        <div class="texto">
          C. Envía el comprobante del depósito a abonos@123depositos.com
        </div>
      </div>

    </div>
  </div>

  <div class="paso3">
    <div class="row">
      <div class="col-sm">
        <div class="paso">
          <h3>Paso 3</h3>
        </div>
      </div>
      <div class="col-sm">
        <div class="imagen">
          <img src="assets/img/como/paso3-1.png" alt="Paso3">
        </div>
        <div class="texto">
          A. Agrega tu destinatario.
        </div>
      </div>
      <div class="col-sm">
        <div class="imagen">
          <img src="assets/img/como/paso3-2.png" alt="Paso3">
        </div>
        <div class="texto">
          B. Adjunta tu depósito.
        </div>
      </div>
      <div class="col-sm">
        <div class="imagen">
          <img src="assets/img/como/paso3-3.png" alt="Paso3">
        </div>
        <div class="texto">
          C. Haz click en el checkbox ya transferí.

        </div>
      </div>

    </div>
  </div>

</div>