<div class="container h600 " *ngIf="!_usuario.usuario.id_usuario">

  <h2>
    Regístrate
  </h2>
  <p>
    Para realizar transferencias debes estar registrado. Si ya estás registrado
    <a routerLink="login">ingresa acá</a>
  </p>

</div>


<div class="container h600" *ngIf="_usuario.usuario.id_usuario">
  <h3>
    Mis transferencias
  </h3>
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead class="thead-azul">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Banco</th>
          <th scope="col">Monto</th>
          <th scope="col">Tasa</th>
          <th scope="col">Estado</th>
          <th scope="col">Tipo Pago</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let tran of _transf.misTransferencias">
          <td>{{ tran.destinatario.nombre }}</td>
          <td> {{ tran.destinatario.banco }} </td>
          <td> {{ tran.transferencia.monto | chp }} </td>
          <td> {{ tran.transferencia.tasa }} </td>
          <td>
            <span [ngClass]="colorEstado(tran.transferencia.estado)"> {{ tran.transferencia.estado }} </span>
            <a *ngIf="tran.transferencia.estado === 'Finalizado'" [href]="tran.transferencia.imagen_deposito | imagen"
              target="_blank" title="Ver comprobante">
              <i class="far fa-file pl-1"></i>
            </a>
            <a *ngIf="tran.transferencia.estado === 'Rechazado'" [title]="tran.transferencia.motivo_rechazo">
              <i class="fas fa-info-circle pl-1"></i>
            </a>
          </td>
          <td> {{ tran.transferencia.tipo_pago }} </td>
        </tr>

      </tbody>
    </table>
  </div>

</div>