<div class="container principal">
  <h2>Contacto</h2>
  <p>
    Cualquier duda o sugerencia, escríbanos a:
  </p>
  <div class="row">
    <div class="col-md-3">
      <b>Correo</b>
    </div>
    <div class="col-md-9">
      <a href="mailto: contacto@123depositos.com">contacto@123depositos.com</a>
    </div>
  </div>
  <hr>
  
  <h2>Preguntas frecuentes:</h2>
  <ol>
    <li>
      ¿Que bancos manejas en Chile?
      <p>
        BCI empresas.
      </p>
    </li>
    <li>
      ¿Que bancos manejas en Venezuela?
      <p>
        Banesco, Venezuela, Provincial y Mercantil.
      </p>
    </li>
    <li>
      ¿En cuanto tiempo dispongo de mi dinero?
      <p>
        Máximo 24 horas si las transferencias son del mismo banco.
        <br> Si las transferencias son a distintos bancos en un período de 72 horas, ese tiempo varia dependiendo del banco receptor.
      </p>
    </li>

  </ol>

</div>