/* You can add global styles to this file, and also import other style files */
.h600 {
    min-height: 600px;
}
.h300 {
    min-height: 300px;
}
.fondo-azul {

    background-color: #00aeeb;
}

.imagen-fondo {
    background-image: url("/assets/img/fondo123.png");
    background-size: cover;
}
.texto-azul {
    color: #00aeeb;
}