<hr>
<div class="container">
  <footer id="footer">
    <div class="row">
      <div class="col-lg-12">

        <ul class="list-unstyled sociales" >
          
          <li>
            <a href="https://www.Instagram.com/123depositos/" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
          </li>
          <li>
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i> Facebook</a>
          </li>
          <li>
            <a href="https://wa.me/56935689629" target="_blank"><i class="fab fa-whatsapp"></i> Whatsapp</a>
          </li>

        </ul>
        <p>Desarrollado por
          <a href="#">123depositos</a>.</p>

      </div>
    </div>

  </footer>

</div>