<hr>
<div class="container">
  <footer id="footer">
    <div class="row">
      <div class="col-lg-12">

        <ul class="list-unstyled sociales" >
          <li>
            <a href="https://Twitter.com/123depositos"><i class="fab fa-twitter"></i> Twitter</a>
          </li>
          <li>
            <a href="https://www.Instagram.com/123depositos/"><i class="fab fa-instagram"></i> Instagram</a>
          </li>
          <li>
            <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i> Facebook</a>
          </li>



        </ul>
        <p>Desarrollado por
          <a href="#">123depositos</a>.</p>

      </div>
    </div>

  </footer>

</div>